--
-- PostgreSQL database dump
--

\restrict PYGs1Gl7bIfzn6A0HJFEanAE9IjgywvNIhS0t0EbcQPP0GxmeZDQBIuF34D6gJq

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_activitylog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_activitylog (
    id bigint NOT NULL,
    activity_type character varying(20) NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id integer,
    client_id bigint NOT NULL,
    related_quote_id bigint
);


ALTER TABLE public.clientapp_activitylog OWNER TO postgres;

--
-- Name: clientapp_activitylog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_activitylog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_activitylog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_brandasset; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_brandasset (
    id bigint NOT NULL,
    asset_type character varying(50) NOT NULL,
    file character varying(100) NOT NULL,
    description character varying(200) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    uploaded_by_id integer,
    client_id bigint NOT NULL
);


ALTER TABLE public.clientapp_brandasset OWNER TO postgres;

--
-- Name: clientapp_brandasset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_brandasset ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_brandasset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_client (
    id bigint NOT NULL,
    client_id character varying(20) NOT NULL,
    client_type character varying(10) NOT NULL,
    company character varying(200) NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    vat_tax_id character varying(50) NOT NULL,
    kra_pin character varying(50) NOT NULL,
    address text NOT NULL,
    industry character varying(100) NOT NULL,
    payment_terms character varying(20) NOT NULL,
    credit_limit numeric(12,2) NOT NULL,
    default_markup numeric(5,2) NOT NULL,
    risk_rating character varying(20) NOT NULL,
    is_reseller boolean NOT NULL,
    preferred_channel character varying(20) NOT NULL,
    lead_source character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    last_activity timestamp with time zone NOT NULL,
    account_manager_id integer,
    onboarded_by_id integer,
    converted_from_lead_id bigint
);


ALTER TABLE public.clientapp_client OWNER TO postgres;

--
-- Name: clientapp_client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_clientcontact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_clientcontact (
    id bigint NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    role character varying(50) NOT NULL,
    is_primary boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    client_id bigint NOT NULL
);


ALTER TABLE public.clientapp_clientcontact OWNER TO postgres;

--
-- Name: clientapp_clientcontact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_clientcontact ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_clientcontact_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_compliancedocument; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_compliancedocument (
    id bigint NOT NULL,
    document_type character varying(50) NOT NULL,
    file character varying(100) NOT NULL,
    expiry_date date,
    notes text NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    client_id bigint NOT NULL,
    uploaded_by_id integer
);


ALTER TABLE public.clientapp_compliancedocument OWNER TO postgres;

--
-- Name: clientapp_compliancedocument_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_compliancedocument ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_compliancedocument_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_job (
    id bigint NOT NULL,
    product character varying(255) NOT NULL,
    quantity integer NOT NULL,
    person_in_charge character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    client_id bigint NOT NULL,
    CONSTRAINT clientapp_job_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.clientapp_job OWNER TO postgres;

--
-- Name: clientapp_job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_job ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_lead; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_lead (
    id bigint NOT NULL,
    lead_id character varying(20) NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    source character varying(50) NOT NULL,
    product_interest character varying(200) NOT NULL,
    preferred_contact character varying(20) NOT NULL,
    follow_up_date date,
    status character varying(20) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    converted_to_client boolean NOT NULL,
    converted_at timestamp with time zone,
    created_by_id integer
);


ALTER TABLE public.clientapp_lead OWNER TO postgres;

--
-- Name: clientapp_lead_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_lead ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_lead_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clientapp_quote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientapp_quote (
    id bigint NOT NULL,
    quote_id character varying(20) NOT NULL,
    product_name character varying(200) NOT NULL,
    quantity integer NOT NULL,
    cost_price numeric(12,2) NOT NULL,
    markup_percentage numeric(5,2) NOT NULL,
    selling_price numeric(12,2) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    status character varying(20) NOT NULL,
    quote_date date NOT NULL,
    valid_until date NOT NULL,
    due_date date,
    approved_at timestamp with time zone,
    notes text NOT NULL,
    loss_reason text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    client_id bigint NOT NULL,
    created_by_id integer,
    lead_id bigint
);


ALTER TABLE public.clientapp_quote OWNER TO postgres;

--
-- Name: clientapp_quote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.clientapp_quote ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clientapp_quote_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$nhK0I0JbAgfkSRAqeCHy5T$rb7WGSKa8eM70wkGxA0mQLsCYuyA2d94VrBOk+vuhsA=	2025-10-31 10:54:06.54946+03	t	admin			ronoshalin@gmail.com	t	t	2025-10-31 10:53:52.357908+03
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: clientapp_activitylog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_activitylog (id, activity_type, title, description, created_at, created_by_id, client_id, related_quote_id) FROM stdin;
\.


--
-- Data for Name: clientapp_brandasset; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_brandasset (id, asset_type, file, description, uploaded_at, uploaded_by_id, client_id) FROM stdin;
\.


--
-- Data for Name: clientapp_client; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: clientapp_clientcontact; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_clientcontact (id, full_name, email, phone, role, is_primary, created_at, updated_at, client_id) FROM stdin;
\.


--
-- Data for Name: clientapp_compliancedocument; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_compliancedocument (id, document_type, file, expiry_date, notes, uploaded_at, client_id, uploaded_by_id) FROM stdin;
\.


--
-- Data for Name: clientapp_job; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_job (id, product, quantity, person_in_charge, status, created_at, client_id) FROM stdin;
1	Business Cards	100	Test	Pending	2025-10-30 14:16:57.666736+03	3
2	Business Cards	100	Test	Pending	2025-10-30 14:51:53.198212+03	3
\.


--
-- Data for Name: clientapp_lead; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_lead (id, lead_id, name, email, phone, source, product_interest, preferred_contact, follow_up_date, status, notes, created_at, updated_at, converted_to_client, converted_at, created_by_id) FROM stdin;
1	LD-2025-001	companyx	companyx@gmail.com	+254701234567	Website	Business Cards	Phone	2025-10-30	Converted		2025-10-30 09:07:16.086391+03	2025-10-30 14:06:32.320661+03	f	\N	\N
\.


--
-- Data for Name: clientapp_quote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientapp_quote (id, quote_id, product_name, quantity, cost_price, markup_percentage, selling_price, total_amount, status, quote_date, valid_until, due_date, approved_at, notes, loss_reason, created_at, updated_at, client_id, created_by_id, lead_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	clientapp	client
8	clientapp	brandasset
9	clientapp	clientcontact
10	clientapp	compliancedocument
11	clientapp	lead
12	clientapp	quote
13	clientapp	activitylog
14	clientapp	job
15	clientapp	jobattachment
16	clientapp	jobproduct
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
s4rzeggd902dxr720fpkzct6qxm3l2ut	.eJxVjMsOgjAUBf-la9Nwg1Bw6d5vaO6rFjRtQmFF_HdLwkK3M3PObjxua_Rb0cVPYm4GzOWXEfJL0yFkxvTMlnNal4nskdjTFvvIou_72f4dRCyxrhu4Iis1KjSQAEIHiDwEQhSppGdHrgu9KqADNwoTASm3bS1CEPP5AjgTOqo:1vEjxW:0kuAuA9rzr85wV8VholJZgFcrPBHfkKsaacF3wP9jv8	2025-11-14 10:54:06.55244+03
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: clientapp_activitylog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_activitylog_id_seq', 1, false);


--
-- Name: clientapp_brandasset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_brandasset_id_seq', 1, false);


--
-- Name: clientapp_client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_client_id_seq', 3, true);


--
-- Name: clientapp_clientcontact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_clientcontact_id_seq', 1, false);


--
-- Name: clientapp_compliancedocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_compliancedocument_id_seq', 1, false);


--
-- Name: clientapp_job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_job_id_seq', 2, true);


--
-- Name: clientapp_lead_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_lead_id_seq', 1, true);


--
-- Name: clientapp_quote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientapp_quote_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: clientapp_activitylog clientapp_activitylog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_activitylog
    ADD CONSTRAINT clientapp_activitylog_pkey PRIMARY KEY (id);


--
-- Name: clientapp_brandasset clientapp_brandasset_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_brandasset
    ADD CONSTRAINT clientapp_brandasset_pkey PRIMARY KEY (id);


--
-- Name: clientapp_client clientapp_client_client_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_client
    ADD CONSTRAINT clientapp_client_client_id_key UNIQUE (client_id);


--
-- Name: clientapp_client clientapp_client_converted_from_lead_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_client
    ADD CONSTRAINT clientapp_client_converted_from_lead_id_key UNIQUE (converted_from_lead_id);


--
-- Name: clientapp_client clientapp_client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_client
    ADD CONSTRAINT clientapp_client_pkey PRIMARY KEY (id);


--
-- Name: clientapp_clientcontact clientapp_clientcontact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_clientcontact
    ADD CONSTRAINT clientapp_clientcontact_pkey PRIMARY KEY (id);


--
-- Name: clientapp_compliancedocument clientapp_compliancedocument_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_compliancedocument
    ADD CONSTRAINT clientapp_compliancedocument_pkey PRIMARY KEY (id);


--
-- Name: clientapp_job clientapp_job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_job
    ADD CONSTRAINT clientapp_job_pkey PRIMARY KEY (id);


--
-- Name: clientapp_lead clientapp_lead_lead_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_lead
    ADD CONSTRAINT clientapp_lead_lead_id_key UNIQUE (lead_id);


--
-- Name: clientapp_lead clientapp_lead_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_lead
    ADD CONSTRAINT clientapp_lead_pkey PRIMARY KEY (id);


--
-- Name: clientapp_quote clientapp_quote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_quote
    ADD CONSTRAINT clientapp_quote_pkey PRIMARY KEY (id);


--
-- Name: clientapp_quote clientapp_quote_quote_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_quote
    ADD CONSTRAINT clientapp_quote_quote_id_key UNIQUE (quote_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: clientapp_activitylog_client_id_d9135985; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_activitylog_client_id_d9135985 ON public.clientapp_activitylog USING btree (client_id);


--
-- Name: clientapp_activitylog_created_by_id_e870cf88; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_activitylog_created_by_id_e870cf88 ON public.clientapp_activitylog USING btree (created_by_id);


--
-- Name: clientapp_activitylog_related_quote_id_7ca5b5ce; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_activitylog_related_quote_id_7ca5b5ce ON public.clientapp_activitylog USING btree (related_quote_id);


--
-- Name: clientapp_brandasset_client_id_7fa9bf35; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_brandasset_client_id_7fa9bf35 ON public.clientapp_brandasset USING btree (client_id);


--
-- Name: clientapp_brandasset_uploaded_by_id_ecd794fc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_brandasset_uploaded_by_id_ecd794fc ON public.clientapp_brandasset USING btree (uploaded_by_id);


--
-- Name: clientapp_c_client__99edb6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_c_client__99edb6_idx ON public.clientapp_client USING btree (client_type);


--
-- Name: clientapp_c_email_df17e6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_c_email_df17e6_idx ON public.clientapp_client USING btree (email);


--
-- Name: clientapp_c_status_cfeede_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_c_status_cfeede_idx ON public.clientapp_client USING btree (status);


--
-- Name: clientapp_client_account_manager_id_a0a50016; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_client_account_manager_id_a0a50016 ON public.clientapp_client USING btree (account_manager_id);


--
-- Name: clientapp_client_client_id_d593f5d8_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_client_client_id_d593f5d8_like ON public.clientapp_client USING btree (client_id varchar_pattern_ops);


--
-- Name: clientapp_client_onboarded_by_id_e334c91b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_client_onboarded_by_id_e334c91b ON public.clientapp_client USING btree (onboarded_by_id);


--
-- Name: clientapp_clientcontact_client_id_111dc31e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_clientcontact_client_id_111dc31e ON public.clientapp_clientcontact USING btree (client_id);


--
-- Name: clientapp_compliancedocument_client_id_01c603eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_compliancedocument_client_id_01c603eb ON public.clientapp_compliancedocument USING btree (client_id);


--
-- Name: clientapp_compliancedocument_uploaded_by_id_4f499865; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_compliancedocument_uploaded_by_id_4f499865 ON public.clientapp_compliancedocument USING btree (uploaded_by_id);


--
-- Name: clientapp_job_client_id_8cb8d842; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_job_client_id_8cb8d842 ON public.clientapp_job USING btree (client_id);


--
-- Name: clientapp_l_email_5896ed_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_l_email_5896ed_idx ON public.clientapp_lead USING btree (email);


--
-- Name: clientapp_l_phone_d71ad4_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_l_phone_d71ad4_idx ON public.clientapp_lead USING btree (phone);


--
-- Name: clientapp_l_status_e56d1a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_l_status_e56d1a_idx ON public.clientapp_lead USING btree (status);


--
-- Name: clientapp_lead_created_by_id_874224da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_lead_created_by_id_874224da ON public.clientapp_lead USING btree (created_by_id);


--
-- Name: clientapp_lead_lead_id_91fa7591_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_lead_lead_id_91fa7591_like ON public.clientapp_lead USING btree (lead_id varchar_pattern_ops);


--
-- Name: clientapp_quote_client_id_7d05ef53; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_quote_client_id_7d05ef53 ON public.clientapp_quote USING btree (client_id);


--
-- Name: clientapp_quote_created_by_id_d15183d0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_quote_created_by_id_d15183d0 ON public.clientapp_quote USING btree (created_by_id);


--
-- Name: clientapp_quote_lead_id_f4977b0a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_quote_lead_id_f4977b0a ON public.clientapp_quote USING btree (lead_id);


--
-- Name: clientapp_quote_quote_id_df96042e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX clientapp_quote_quote_id_df96042e_like ON public.clientapp_quote USING btree (quote_id varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_activitylog clientapp_activitylo_related_quote_id_7ca5b5ce_fk_clientapp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_activitylog
    ADD CONSTRAINT clientapp_activitylo_related_quote_id_7ca5b5ce_fk_clientapp FOREIGN KEY (related_quote_id) REFERENCES public.clientapp_quote(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_activitylog clientapp_activitylog_client_id_d9135985_fk_clientapp_client_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_activitylog
    ADD CONSTRAINT clientapp_activitylog_client_id_d9135985_fk_clientapp_client_id FOREIGN KEY (client_id) REFERENCES public.clientapp_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_activitylog clientapp_activitylog_created_by_id_e870cf88_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_activitylog
    ADD CONSTRAINT clientapp_activitylog_created_by_id_e870cf88_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_brandasset clientapp_brandasset_client_id_7fa9bf35_fk_clientapp_client_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_brandasset
    ADD CONSTRAINT clientapp_brandasset_client_id_7fa9bf35_fk_clientapp_client_id FOREIGN KEY (client_id) REFERENCES public.clientapp_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_brandasset clientapp_brandasset_uploaded_by_id_ecd794fc_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_brandasset
    ADD CONSTRAINT clientapp_brandasset_uploaded_by_id_ecd794fc_fk_auth_user_id FOREIGN KEY (uploaded_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_client clientapp_client_account_manager_id_a0a50016_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_client
    ADD CONSTRAINT clientapp_client_account_manager_id_a0a50016_fk_auth_user_id FOREIGN KEY (account_manager_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_client clientapp_client_converted_from_lead__81370b16_fk_clientapp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_client
    ADD CONSTRAINT clientapp_client_converted_from_lead__81370b16_fk_clientapp FOREIGN KEY (converted_from_lead_id) REFERENCES public.clientapp_lead(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_client clientapp_client_onboarded_by_id_e334c91b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_client
    ADD CONSTRAINT clientapp_client_onboarded_by_id_e334c91b_fk_auth_user_id FOREIGN KEY (onboarded_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_clientcontact clientapp_clientcont_client_id_111dc31e_fk_clientapp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_clientcontact
    ADD CONSTRAINT clientapp_clientcont_client_id_111dc31e_fk_clientapp FOREIGN KEY (client_id) REFERENCES public.clientapp_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_compliancedocument clientapp_compliance_client_id_01c603eb_fk_clientapp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_compliancedocument
    ADD CONSTRAINT clientapp_compliance_client_id_01c603eb_fk_clientapp FOREIGN KEY (client_id) REFERENCES public.clientapp_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_compliancedocument clientapp_compliance_uploaded_by_id_4f499865_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_compliancedocument
    ADD CONSTRAINT clientapp_compliance_uploaded_by_id_4f499865_fk_auth_user FOREIGN KEY (uploaded_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_job clientapp_job_client_id_8cb8d842_fk_clientapp_client_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_job
    ADD CONSTRAINT clientapp_job_client_id_8cb8d842_fk_clientapp_client_id FOREIGN KEY (client_id) REFERENCES public.clientapp_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_lead clientapp_lead_created_by_id_874224da_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_lead
    ADD CONSTRAINT clientapp_lead_created_by_id_874224da_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_quote clientapp_quote_client_id_7d05ef53_fk_clientapp_client_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_quote
    ADD CONSTRAINT clientapp_quote_client_id_7d05ef53_fk_clientapp_client_id FOREIGN KEY (client_id) REFERENCES public.clientapp_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_quote clientapp_quote_created_by_id_d15183d0_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_quote
    ADD CONSTRAINT clientapp_quote_created_by_id_d15183d0_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clientapp_quote clientapp_quote_lead_id_f4977b0a_fk_clientapp_lead_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientapp_quote
    ADD CONSTRAINT clientapp_quote_lead_id_f4977b0a_fk_clientapp_lead_id FOREIGN KEY (lead_id) REFERENCES public.clientapp_lead(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict PYGs1Gl7bIfzn6A0HJFEanAE9IjgywvNIhS0t0EbcQPP0GxmeZDQBIuF34D6gJq

