asgiref==3.10.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
defusedxml==0.7.1
dj-database-url==3.0.1
Django==5.2.7
django-treebeard==4.7.1
django-cors-headers==4.6.0
django-filter==24.3
djangorestframework==3.16.1
djangorestframework-simplejwt==5.4.0
drf-yasg==1.21.8
enum-compat==0.0.3
Faker==37.12.0
fonttools==4.60.1
fpdf2==2.8.5
gunicorn==23.0.0
idna==3.11
intuit-oauth==1.2.6
Markdown==3.10
oauthlib==3.3.1
ofxtools==0.9.5
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
python-quickbooks==0.9.12
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
intuit-oauth>=1.2.4
python-quickbooks>=0.9.5
django-ses>=3.5.0
sendgrid>=6.11.0
requests>=2.31.0
python-dateutil>=2.8.2
django-jazzmin==2.6.0
xhtml2pdf==0.2.18
